// Custom bootstrap variables must be set or imported *before* bootstrap.
body.light {
  color: black;
  background-color: white;
  text-decoration: none;
}
body.dark {
  color: white;
  background-color: black;
  text-decoration: none;
}
@import "bootstrap";